.cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-width: 600px;
  max-height: 700px;

  margin-top: 15px;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cursos::-webkit-scrollbar {
  display: none;
}

.title-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

@media(max-width: 650px) {
  .cursos {
    min-width: auto;
  }
}
